@import "../../common/variables";

.divider {
  border: 0;
  background-color: $color-e5e5e7;
  display: flex;
  align-items: center;
  
  // Orientation
  &.horizontal {
    width: 100%;
    height: 1px;
    margin: 16px 0;
    
    &.withLabel {
      height: auto;
      background-color: transparent;
      
      &::before,
      &::after {
        content: "";
        flex: 1;
        height: 1px;
        background-color: $color-e5e5e7;
      }
      
      .label {
        padding: 0 12px;
        font-size: 13px;
        color: $color-737b8e;
        white-space: nowrap;
      }
      
      // Label Alignment
      &.left {
        &::before { flex: 0 1 20px; }
      }
      &.right {
        &::after { flex: 0 1 20px; }
      }
    }
  }
  
  &.vertical {
    display: inline-block;
    width: 1px;
    height: 1em;
    margin: 0 8px;
    vertical-align: middle;
  }
  
  // Variants
  &.dashed {
    background-color: transparent;
    background-image: linear-gradient(to right, $color-e5e5e7 50%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 8px 1px;
    background-repeat: repeat-x;
    
    &.vertical {
      background-image: linear-gradient(to bottom, $color-e5e5e7 50%, rgba(255, 255, 255, 0) 0%);
      background-repeat: repeat-y;
      background-size: 1px 8px;
    }
  }

  &.thick {
    &.horizontal { height: 2px; }
    &.vertical { width: 2px; }
  }
}

