@import "../../common/variables";

.tableRow {
  display: flex;
  width: 100%;
  padding: 14px 0;
  color: inherit; // 상위 테마 컬러 상속

  &:last-child {
    border-bottom: none;
  }

  // Vertical Alignments
  &.top { align-items: flex-start; }
  &.center { align-items: center; }
  &.bottom { align-items: flex-end; }

  // Horizontal Alignments (양쪽 정렬 모드)
  &.space-between {
    justify-content: space-between;
    
    .left {
      flex: 0 0 auto;
      padding-right: 12px;
      color: inherit;
      font-weight: 500;
    }
    
    .right {
      flex: 1;
      text-align: right;
      color: inherit;
      font-size: 14px;
      font-weight: 500; // 양쪽 다 선명하게 보이도록 동일하게 설정
    }
  }

  .left {
    flex-shrink: 0;
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    padding-right: 16px;
    word-break: break-all;
  }

  .right {
    flex: 1;
    color: inherit;
    font-size: 14px;
    word-break: break-all;
  }
}
